.section {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 5px;
    width: 480px;

    border-radius: 3px;
    border: 1px solid green;

    text-align: center;
}

.section__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 25px;
}